.container {
  padding: 60px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: white;
  padding: 12px;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 4px;
  width: 330px;
}

.form {
  display: flex;
  gap: 12px;
}

.text {
  color: rgb(0, 64, 255);
  font-size: 12px;
  cursor: pointer;
}

.text:hover {
  border-bottom: 1px solid rgb(0, 64, 255);
}
