.top-container {
  padding: 40px;
  display: flex;
}

.todo-container {
  width: 100%;
}

.todo-item {
  border: 1px solid gray;
  border-radius: 4px;
  margin: 12px;
  padding: 24px;
}

.detail-container {
  width: 100%;
}
